{{timeline-component icon="education"}}
<h2>{{title}}</h2>
<ul class="list-unstyled">
{{#each degrees as |degree|}}
	<li class="emphasize">{{degree.degree}}, <span class="bold">{{degree.major}}</span></li>
	<ul>	
		<li>{{degree.school}} <span class="italic">{{degree.dates}}</span></li>
		<li>{{degree.gpa}} GPA</li>
	</ul>
{{/each}}
</ul>