{{timeline-component icon="edit"}}
<h2>{{title}}</h2>
<ul class="list-unstyled">
	{{#each jobs as |job|}}
    	<li class="emphasize"><span class="bold">{{job.position}}</span> at {{job.company}} <span class="mobile-deemphasize right-if-wide italic">({{job.start}} to {{job.end}})</span></li>
    	<li>{{job.summary}}</li>
    	<ul>
    		{{#each job.achievs as |achievement|}}
    			<li>{{bold-first-piece achievement ":"}}</li>
    		{{/each}}
    	</ul>
    {{/each}}
</ul>
