<div class="navbar-header pull-left">
    <a class="navbar-brand" href="#"><div class="portrait mobiile"></div></a>
	<span class="navbar-brand navbar-text">josh <span class="bold">chansard</span></span>
</div>
<div class="navbar-header pull-right">
	{{#download-button class="topbar-btn" href="https://s3.amazonaws.com/joshchansard-assets/assets/josh-chansard-resume.pdf"}}{{/download-button}}
	{{linkedin-link}}
	<div class="btn-group {{if droppedDown "open"}}">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{action 'toggleDropdown'}}>Navigation <span class="caret"></span></button>
  		<ul class="dropdown-menu">
		    {{#each sections as |section|}}
				<li role="presentation" {{action 'toggleDropdown'}}>{{#link-to "index" (query-params section=section)}}{{section}}{{/link-to}}</li>
			{{/each}}
		</ul>
	</div>
</div>