{{image-gallery}}
{{timeline-component icon="folder-open"}}
<h2>{{title}}</h2>
{{#each projects as |project|}}
	<div class="project row">
    	<div class="col-md-4 outline">
	    	<div class="img-container">
	    		{{#photo-swipe items=project.screenshot as |img|}}
	    			<img class="thumb" src={{img.src}} alt={{img.title}}/>
	    		{{/photo-swipe}}
	    	</div>
    	</div>
    	<div class="col-md-8 project-description">
            <h4>{{#if project.url}}<a href="{{project.url}}"><span class="emphasize bold">{{project.name}}:</span></a>
            {{else}}<span class="emphasize bold">{{project.name}}:</span>{{/if}}
            <span class="italic">{{project.overview}}</span></h4>
        	<p>{{project.contribution}}</p>
    	</div>
    </div>
{{/each}}